* {
  margin: 0;
  padding: 0;
}
body {
  user-select: none;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    red 3%,
    green 38%,
    blue 68%,
    purple 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20vh;
}
#game {
  box-shadow: 2px 2px 100px black;
  width: 40vw;
  background-color: rgba(245, 222, 179, 0.63);
  border-radius: 50px;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
}
.us,
#buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.btn {
  width: fit-content;
  text-align: center;
  cursor: pointer;
}
.rand {
  color: red;
  font-size: xx-large;
  font-weight: 100;
  text-align: center;
}
.sc {
  text-align: center;
  font-size: xx-large;
}
#image {
  display: none;
}

/* table */
#usr {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 10px;
  border-radius: 6px;
}
table {
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
  margin: auto;
}
td,th {
  border: 2px solid black;
  text-align: center;
  padding: 8px;
}

#user{
  box-shadow: 2px 2px 100px black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.63);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  border-radius: 10px;
}
h2{
  position: absolute;
  top: 35%;
  left: 28%;
}
